.bar-nav {
    display: flex;
    flex-direction: row;
    outline: 0px solid black;
    background: #303030
 
}

.bar-limit-1 {
    color: white;
    outline: 0px solid black;
    position:flex;
    display: flex;
    height: 30px;
    gap: 50%;
    margin-left: 2%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.bar-limit-2 {
    color: white;
    outline: 0px solid black;
    position:flex;
    display: flex;
    height: 30px;
    gap: 50%;
    margin-left: 32%;
    right: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


a:link {
  text-decoration: none;
  color: white;
}


.container-p {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    outline: 0px solid black;
}
.titre-1 {
    outline: 1px solid black;
    width: auto;
}

.t-1 {
    font-size: xx-large;
    outline: 1px solid black;
    margin-left: 50%;
    width: min-content;
    height: min-content;
}

.text-1 {
    outline: 1px solid black;
    width: auto;
}
.p-1 {
    outline: 1px solid black;
    margin-top: auto;
    width: min-content;
    height: min-content;
    margin-left: 10px;
    
}
.space {
    height: 10px;
}
.cont-img-1 {
    width: auto;
    height: auto;
    outline: 1px solid black;
}

.img-1 {
    margin-left: 81%;
    outline: 1px solid black;
    margin-top: 4px;
}
